version: "3.9"

services:
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./config.yaml:/config.yaml
    networks:
      - test
    ports:
      - "9090:9090"
    command:
      - --config.file=/config.yaml
      - --storage.tsdb.retention.time=7d
      - --web.external-url=/prometheus

networks:
  test:
    external: true